.main {
  flex: 1;
  min-height: 100vh;
  padding: 2rem 2rem 0 0;
}

.avatar {
  width: 50px;
  height: 50px;
}

.top-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.top-main h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
}

.main-content {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 2rem;
}

.main-content h1 {
  font-size: 3rem;
  font-weight: 400;
  background: -webkit-linear-gradient(270deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content > p {
  font-size: 3rem;
  font-weight: 600;
  color: #c1c1c1;
}

.main-content .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 5rem;
}

.main-content .card {
  position: relative;
  width: 100%;
  min-height: 150px;
  background-color: #f5f6f8;
  color: #555;
  padding: 2rem;
  border-radius: 20px;
  gap: 1rem;
  cursor: pointer;
}

.main-content .card:hover {
  background-color: #e7e7e7;
}

.main-content .card .card-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.main-footer {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 4rem;
}

.main-footer form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  padding: 0 2rem;
  background-color: #f5f6f8;
}

.main-footer form #prompt {
  width: 85%;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  color: #333;
  padding: 1rem 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.main-footer .prompt-actions {
  display: flex;
  gap: 0.5rem;
}

.main-footer .prompt-actions .prompt-icon {
  border: none;
  background-color: transparent;
  color: #555;
  cursor: pointer;
}

.main-footer .footer-text {
  font-size: 0.8rem;
  color: #999;
  text-align: center;
  margin-top: 2rem;
}

.result {
  padding: 0% 10%;
  max-height: 60vh;
  overflow-y: scroll;
  margin: 0 auto;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  gap: 1rem;
}

.result-title h3 {
  font-weight: 400;
}

.result-content {
  margin-top: 3rem;
  display: flex;
  align-items: start;
  gap: 3rem;
}

.sparkles {
  color: purple;
}

.result-data {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}

@media (max-width: 800px) {
  .main {
    width: 100vw;
  }

  .main-content .cards {
    display: none;
  }
}
